body {
  background-color: #22223b;
}
label {
  color: #f2e9e4;
}
h1 {
  color: #f2e9e4;
  text-align: center;
}

#movie-result {
  background: #f2e9e4;
  border: 5px solid black;
  font-size: 24px;
  min-height: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
}

#book-result {
  background: #f2e9e4;
  border: 5px solid black;
  font-size: 24px;
  min-height: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
}

#album-result {
  background: #f2e9e4;
  border: 5px solid black;
  font-size: 24px;
  min-height: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
}

#painting-result {
  background: #f2e9e4;
  border: 5px solid black;
  font-size: 24px;
  min-height: 300px;
  margin-bottom: 20px;
  border: 0;
}

hr {
  height: 5px;
  background-color: rgb(255, 101, 101);
}

.container {
  display: flex;
  justify-content: center;
}

.q1, .q2, .q3, .q4 {
  margin-left: 10px;
  margin-right: 10px;
  width: 400px;
  height: 50%;
}

#painting-text, #album-text, #book-text, #movie-text{
  text-align: center;
}

.label {
  color: #f2e9e4;
  background-color: #4a4e69;
  padding: 2%;
  border: 0;
  width: 100%;
  margin-top: 5%;
}

button {
  color: #4a4e69;
  background-color: #f2e9e4;
  padding: 2%;
  border: 0;
  width: 100%;
}

button:hover {
  background-color: #9a8c98;
  color: #f2e9e4;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}
